/* dojox.mobile.ArrowButton */
.mblArrowButton {
  padding: 0 10px;
  height: 29px;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cecece), color-stop(0.5, #f8f8f8), color-stop(0.5, #eeeeee));
  font-family: Helvetica;
  line-height: 29px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-color: #9cacc0;
  border-radius: 3px;
  color: black;
  font-size: 13px;
}
.mblArrowButtonLeft {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mblArrowButtonRight {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mblArrowButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
  color: white;
}
.mblArrowButtonDisabled,
.mblArrowButtonDisabled .mblArrowButtonHead,
.mblArrowButton:disabled,
.mblArrowButton:disabled .mblArrowButtonHead {
  cursor: default;
  border-color: grey;
  color: grey;
  background-image: none !important;
  background-color: lightgrey;
}
.mblArrowButtonHeadBox {
  position: relative;
  overflow: hidden;
}
.mblArrowButtonLeft .mblArrowButtonHeadBox {
  float: left;
}
.mblArrowButtonRight .mblArrowButtonHeadBox {
  float: right;
}
.mblArrowButton .mblArrowButtonHead {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  -webkit-transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  -webkit-transform: scale(0.7, 1.05) rotate(45deg);
  border-color: #9cacc0 #57606c #57606c #9cacc0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fdfdfd), to(#cecece), color-stop(0.49, #f8f8f8), color-stop(0.49, #eeeeee));
}
.mblArrowButtonLeft .mblArrowButtonHead {
  left: 100%;
}
.mblArrowButtonRight .mblArrowButtonHead {
  left: 0;
}
.mblArrowButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.49, #306ea1));
}
.mblBlueButton .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7a9de9), to(#2362dd), color-stop(0.49, #366edf), color-stop(0.49, #215fdc));
}
.mblBlueButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.49, #306ea1));
}
.mblRedButton .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fa9d58), to(#ee4115), color-stop(0.49, #ff4d25), color-stop(0.49, #ed4d15));
}
.mblRedButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.49, #306ea1));
}
