/* dojox.mobile.ArrowButton */
.mblArrowButton {
  position: relative;
  padding: 0 10px;
  height: 29px;
  border-style: outset;
  border-width: 1px;
  font-family: Helvetica;
  line-height: 29px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-color: #9cacc0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cecece), color-stop(0.5, #f8f8f8), color-stop(0.5, #eeeeee));
  color: black;
  font-size: 13px;
}
.mblArrowButtonSelected, .mblArrowButtonSelected .mblArrowButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
  color: white;
}
.mblArrowButton.mblBlueButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
  color: white;
}
.mblArrowButton.mblBlueButtonSelected, .mblArrowButton.mblBlueButtonSelected .mblArrowButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblArrowButton.mblRedButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa9d58), to(#ee4115), color-stop(0.5, #ff4d25), color-stop(0.5, #ed4d15));
  color: white;
}
.mblArrowButton.mblRedButtonSelected, .mblArrowButton.mblRedButtonSelected .mblArrowButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblArrowButtonDisabled,
.mblArrowButtonDisabled .mblArrowButton,
.mblArrowButton:disabled,
.mblArrowButton:disabled .mblArrowButton {
  cursor: default;
  border-color: grey;
  color: grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
}
.mblArrowButtonHead {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3px;
  width: 19px;
  height: 19px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  border-color: #9cacc0;
}
.mblArrowButtonHead.mblArrowButtonLeft {
  left: -11px;
}
.mblArrowButtonHead.mblArrowButtonRight {
  right: -11px;
}
.mblArrowButtonNeck {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1px;
  width: 15px;
  height: 29px;
  border-width: 1px 0;
  border-style: outset;
  border-radius: 0;
  -webkit-box-sizing: border-box;
}
.mblArrowButtonNeck.mblArrowButtonLeft {
  left: -1px;
}
.mblArrowButtonNeck.mblArrowButtonRight {
  right: -1px;
}
