html.mobile, .mobile body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  background-color: black;
  font-family: Helvetica;
  font-size: 17px;
  color: white;
}
/* Button Colors */
.mblColorBlue {
  color: white;
  background-color: #366EDF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
}
/* Default Button Colors */
.mblColorDefault {
  color: black;
  background-color: #C6C6C6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#a6a6a6));
}
.mblColorDefaultSel {
  color: white;
  background-color: #3578B1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#306ea1), to(#266093), color-stop(0.06, #4090d3), color-stop(0.5, #306ea1));
}
.mblColorDefaultBar {
  background-color: #212421;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#100c10), color-stop(0.1, #313031));
}
.mblSpriteIcon {
  position: absolute;
}
.mblIconRoot {
  position: relative;
  font-size: 1px;
  /*	.mblIconRoot-styles;*/

}
