/* dojox.mobile.Accordion */
.mblAccordion {
	.mblAccordion-styles;
}
.mblAccordionRoundRect {
	.mblAccordionRoundRect-styles;
}
.mblAccordionRoundRect .mblAccordionTitle:first-child {
	.mblAccordionRoundRect-FirstTitle-styles;
}
.mblAccordionTitle:first-child {
	border-top: none;
}
.mblAccordionRoundRect .mblAccordionTitleLast,
.mblAccordionRoundRect .mblAccordionPane:last-child {
	.mblAccordionRoundRect-LastTitle-styles;
}
.mblAccordionTitle {
	position: relative;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	.mblAccordionTitle-styles;
}
.mblAccordionTitleAnchor {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	.mblAccordionTitleAnchor-styles;
}
.mblAccordionIconParent {
	float: left;
	margin: 6px 4px 0px 6px;
	line-height: normal;
}
.mblAccordionIconParent1 {
	display: block;
}
.mblAccordionIconParent2 {
	display: none;
}
.mblAccordionTitleSelected {
	.mblAccordionTitleSelected-styles;
	.mblAccordionTitleAnchor {
		.mblAccordionTitleAnchorSelected-styles;
	}
	.mblAccordionIconParent1 {
		display: none;
	}
	.mblAccordionIconParent2 {
		display: block;
	}
}
