/* dojox.mobile.IconMenu */
.mblIconMenu {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 102, 119, 0.85)), to(rgba(4, 4, 4, 0.85)), color-stop(0.35, rgba(22, 22, 30, 0.85)));
  border: 2px solid #9A9A9E;
  border-top-color: #F2F2F3;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
/* dojox.mobile.IconMenuItem */
.mblIconMenuItem {
  float: left;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  border-left: 1px solid #6B6C6F;
  border-bottom: 1px solid #6B6C6F;
}
.mblIconMenuItemIcon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.mblIconMenuItemIcon img {
  border: none;
}
.mblIconMenuItemFirstColumn {
  border-left: none;
}
.mblIconMenuItemLastRow {
  border-bottom: none;
}
.mblIconMenuItemFirstRow.mblIconMenuItemFirstColumn {
  border-top-left-radius: 10px;
}
.mblIconMenuItemFirstRow.mblIconMenuItemLastColumn {
  border-top-right-radius: 10px;
}
.mblIconMenuItemLastRow.mblIconMenuItemFirstColumn {
  border-bottom-left-radius: 10px;
}
.mblIconMenuItemLastRow.mblIconMenuItemLastColumn {
  border-bottom-right-radius: 10px;
}
.mblIconMenuItemAnchor {
  display: block;
  height: 100%;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 11px;
  color: #B8BBC0;
}
.mblIconMenuItemTable {
  width: 100%;
  height: 100%;
}
.mblIconMenuItemSel {
  background-color: #2549E7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(139, 157, 229, 0.6)), to(rgba(10, 54, 233, 0.8)), color-stop(0.6, rgba(10, 54, 233, 0.8)));
}
