/* dojox.mobile.IconMenu */
.mblIconMenu {
	background-color: rgba(22,22,30,0.85);
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;	
	-moz-box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

/* dojox.mobile.IconMenuItem */
.mblIconMenuItem {
	-moz-box-sizing: border-box;
	-o-box-sizing : border-box;
	-ms-box-sizing: border-box;
	box-sizing : border-box;
}
.mblIconMenuItemFirstRow.mblIconMenuItemFirstColumn {
	-moz-border-radius-topleft: 10px;
	-o-border-top-left-radius: 10px;
	-ms-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
.mblIconMenuItemFirstRow.mblIconMenuItemLastColumn {
	-moz-border-radius-topright: 10px;
	-o-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.mblIconMenuItemLastRow.mblIconMenuItemFirstColumn {
	-moz-border-radius-bottomleft: 10px;
	-o-border-bottom-left-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.mblIconMenuItemLastRow.mblIconMenuItemLastColumn {
	-moz-border-radius-bottomright: 10px;
	-o-border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
