/* dojox.mobile.Accordion */
.mblAccordion {
  border: 1px solid #b5bcc7;
}
.mblAccordionRoundRect {
  margin: 8px 8px 12px;
  padding: 0;
  border: 1px solid #b5bcc7;
  border-radius: 5px;
}
.mblAccordionRoundRect .mblAccordionTitle:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mblAccordionTitle:first-child {
  border-top: none;
}
.mblAccordionRoundRect .mblAccordionTitleLast, .mblAccordionRoundRect .mblAccordionPane:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mblAccordionTitle {
  position: relative;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 1px outset #b5bcc7;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #131313;
  line-height: 30px;
  height: 30px;
}
.mblAccordionTitleAnchor {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #131313;
  text-shadow: none;
  height: 100%;
}
.mblAccordionIconParent {
  float: left;
  margin: 6px 4px 0px 6px;
  line-height: normal;
}
.mblAccordionIconParent1 {
  display: block;
}
.mblAccordionIconParent2 {
  display: none;
}
.mblAccordionTitleSelected {
  border-bottom: 1px outset #769dc0;
  background-color: #007ef5;
}
.mblAccordionTitleSelected .mblAccordionTitleAnchor {
  color: #000000;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.mblAccordionTitleSelected .mblAccordionIconParent1 {
  display: none;
}
.mblAccordionTitleSelected .mblAccordionIconParent2 {
  display: block;
}
