/* dojox.mobile.ArrowButton */
.mblArrowButton {
  padding: 0 10px;
  height: 29px;
  border-style: outset;
  border-width: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
  font-family: Helvetica;
  line-height: 29px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 1px solid #c0c0c0;
  border-bottom-color: #9b9b9b;
  border-radius: 0;
  color: black;
  font-size: 13px;
}
.mblArrowButtonLeft {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mblArrowButtonRight {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mblArrowButtonSelected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#666666));
  color: white;
}
.mblArrowButtonDisabled,
.mblArrowButtonDisabled .mblArrowButtonHead,
.mblArrowButton:disabled,
.mblArrowButton:disabled .mblArrowButtonHead {
  cursor: default;
  border-color: grey;
  color: grey;
  background-image: none !important;
  background-color: lightgrey;
}
.mblArrowButtonHeadBox {
  position: relative;
  overflow: hidden;
}
.mblArrowButtonLeft .mblArrowButtonHeadBox {
  float: left;
}
.mblArrowButtonRight .mblArrowButtonHeadBox {
  float: right;
}
.mblArrowButton .mblArrowButtonHead {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  -webkit-transform-origin: 0 0;
  -webkit-box-sizing: border-box;
  -webkit-transform: scale(0.7, 1.05) rotate(45deg);
  border-color: #c0c0c0 #9b9b9b #9b9b9b #c0c0c0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#e2e2e2));
}
.mblArrowButtonLeft .mblArrowButtonHead {
  left: 100%;
}
.mblArrowButtonRight .mblArrowButtonHead {
  left: 0;
}
.mblArrowButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbbbbb), to(#666666));
}
.mblBlueButton .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7a9de9), to(#2362dd));
}
.mblBlueButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbbbbb), to(#666666));
}
.mblRedButton .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fa9d58), to(#ee4115));
}
.mblRedButtonSelected .mblArrowButtonHead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bbbbbb), to(#666666));
}
