/* dojox.mobile.ArrowButton */
.dj_gecko .mblArrowButton {
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%);
}
.dj_gecko .mblArrowButtonSelected {
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #666666 100%);
}
.dj_ff3 .mblArrowButton {
  position: relative;
  padding: 0;
  -moz-border-radius: 0;
}
.dj_ff3 .mblArrowButtonLeft {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
}
.dj_ff3 .mblArrowButtonRight {
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
}
.dj_ie .mblArrowButton {
  overflow: visible;
  background-image: url(compat/button-bg.png);
  background-size: contain;
}
.dj_ie .mblBlueButton.mblArrowButton {
  background-image: url(compat/blue-button-bg.png);
  color: white;
}
.dj_ie .mblRedButton.mblArrowButton {
  background-image: url(compat/red-button-bg.png);
  color: white;
}
.dj_ie .mblArrowButtonSelected {
  overflow: visible;
  background-image: url(compat/button-sel-bg.png);
}
.dj_ie .mblBlueButtonSelected.mblArrowButton {
  background-image: url(compat/blue-button-sel-bg.png);
}
.dj_ie .mblRedButtonSelected.mblArrowButton {
  background-image: url(compat/red-button-sel-bg.png);
}
.mblArrowButtonHeadBox {
  top: -1px;
  background-size: cover;
}
.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/button-head-bg.png);
}
.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/button-right-head-bg.png);
}
.mblArrowButtonSelected.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/button-head-sel-bg.png);
}
.mblArrowButtonSelected.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/button-right-head-sel-bg.png);
}
.mblBlueButton.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/blue-button-head-bg.png);
}
.mblBlueButton.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/blue-button-right-head-bg.png);
}
.mblBlueButtonSelected.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/blue-button-head-sel-bg.png);
}
.mblBlueButtonSelected.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/blue-button-right-head-sel-bg.png);
}
.mblRedButton.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/red-button-head-bg.png);
}
.mblRedButton.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/red-button-right-head-bg.png);
}
.mblRedButtonSelected.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/red-button-head-sel-bg.png);
}
.mblRedButtonSelected.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/red-button-right-head-sel-bg.png);
}
.mblArrowButtonDisabled.mblArrowButtonLeft .mblArrowButtonHeadBox, .mblArrowButton:disabled.mblArrowButtonLeft .mblArrowButtonHeadBox {
  background-image: url(compat/button-head-dis-bg.png);
}
.mblArrowButtonDisabled.mblArrowButtonRight .mblArrowButtonHeadBox, .mblArrowButton:disabled.mblArrowButtonRight .mblArrowButtonHeadBox {
  background-image: url(compat/button-right-head-dis-bg.png);
}
.dj_gecko .mblArrowButtonHeadBox {
  top: -2px;
}
.dj_gecko .mblArrowButtonLeft .mblArrowButtonHeadBox {
  left: -3px;
}
.dj_gecko .mblArrowButtonRight .mblArrowButtonHeadBox {
  right: -3px;
}
.dj_ff3 .mblArrowButtonHeadBox {
  position: absolute;
  top: -8px;
}
.dj_ff3 .mblArrowButtonLeft .mblArrowButtonHeadBox {
  left: 7px;
}
.dj_ff3 .mblArrowButtonRight .mblArrowButtonHeadBox {
  right: 13px;
}
.mblArrowButton .mblArrowButtonHead {
  display: none;
}
