@import "../common/domButtons/DomButtonGrayCross.css";
/* dojox.mobile.TabBar */
.mblTabBar {
  position: relative;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
}
/* dojox.mobile.TabBar (type=tabBar) */
.mblTabBarTabBar {
  padding: 0px;
  height: 50px;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  border-bottom: 1px solid #769dc0;
}
.mblTabBarNoIcons, .mblTabBarNoText {
  height: 34px;
}
/* dojox.mobile.TabBar (type=segmentedControl) */
.mblTabBarSegmentedControl {
  text-overflow: ellipsis;
  padding-top: 3px;
  height: 40px;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(2.5%, #ffffff), color-stop(2.5%, rgba(255, 255, 255, 0.14)), color-stop(5%, rgba(255, 255, 255, 0.14)), color-stop(5%, rgba(255, 255, 255, 0.52)), color-stop(7.5%, rgba(255, 255, 255, 0.52)), color-stop(7.5%, rgba(255, 255, 255, 0.68)), color-stop(10%, rgba(255, 255, 255, 0.68)), color-stop(1, rgba(255, 255, 255, 0)));
  border-bottom: 1px solid #769dc0;
}
/* dojox.mobile.TabBar in Heading (segmentedControl) */
.mblHeading .mblTabBarSegmentedControl {
  margin: 0 6px;
}
/* dojox.mobile.TabBar (type=tabPanel) */
.mblTabBarTabPanel {
  height: 40px;
  border-bottom: 1px solid #769dc0;
}
/* dojox.mobile.TabBar (slimTabBar) */
.mblTabBarSlimTabBar {
  padding: 0px;
  height: 30px;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  border-bottom: 1px solid #769dc0;
}
/* dojox.mobile.TabBarButton */
.mblTabBarButton {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  position: relative;
  list-style-type: none;
  float: left;
}
.mblTabBarButtonIconArea {
  margin: 0 auto;
  width: 29px;
}
.mblTabBarButtonIconParent1 {
  display: block;
}
.mblTabBarButtonIconParent2 {
  display: none;
}
.mblTabBarButtonSelected .mblTabBarButtonIconParent1 {
  display: none;
}
.mblTabBarButtonSelected .mblTabBarButtonIconParent2 {
  display: block;
}
/* dojox.mobile.TabBarButton (tabBar) */
.mblTabBarTabBar .mblTabBarButton {
  text-align: center;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  color: #131313;
}
.mblTabBarTabBar .mblTabBarButtonIconArea {
  padding-top: 5px;
}
.mblTabBarTabBar .mblTabBarButtonLabel {
  padding-bottom: 5px;
}
.mblTabBarTabBar .mblTabBarButtonSelected {
  background-color: #0064c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  color: #000000;
}
/* dojox.mobile.TabBarButton (segmentedControl) */
.mblTabBarSegmentedControl .mblTabBarButton {
  text-align: center;
  margin-top: 4px;
  width: 90px;
  height: 30px;
  border-width: 1px 1px 1px 0px;
  border-style: inset;
  border-color: #b5bcc7;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  color: #131313;
  line-height: 30px;
}
.mblTabBarSegmentedControl .mblTabBarButton:first-child {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-left-width: 1px;
}
.mblTabBarSegmentedControl .mblTabBarButton:last-child {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
.mblTabBarSegmentedControl .mblTabBarButtonIconArea {
  display: none;
}
.mblTabBarSegmentedControl .mblTabBarButtonSelected {
  background-color: #0064c2;
}
/* dojox.mobile.TabBarButton in Heading (segmentedControl) */
.mblHeading .mblTabBarSegmentedControl .mblTabBarButton {
  padding: 0 3px;
  width: auto;
}
.mblHeading .mblTabBarSegmentedControl .mblTabBarButtonIconArea {
  display: block;
}
/* dojox.mobile.TabBarButton (tabPanel) */
.mblTabBarTabPanel .mblTabBarButton {
  margin-top: 7px;
  padding: 8.5px 9px;
  border: 1px solid #b5bcc7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #131313;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.mblTabBarTabPanel .mblTabBarButtonIconArea {
  position: absolute;
  top: 3px;
  left: 0px;
}
.mblTabBarTabPanel .mblTabBarButtonHasIcon .mblTabBarButtonLabel {
  margin-left: 20px;
}
.mblTabBarTabPanel .mblTabBarButtonSelected {
  background-color: #0064c2;
}
/* dojox.mobile.TabBarButton (slimTabBar) */
.mblTabBarSlimTabBar .mblTabBarButton {
  text-align: center;
  padding: 7px;
  height: 16px;
  border-right: 1px solid #b5bcc7;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: #131313;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.mblTabBarSlimTabBar .mblTabBarButton:first-child {
  border-left: 1px solid #b5bcc7;
}
.mblTabBarSlimTabBar .mblTabBarButtonIconArea {
  position: absolute;
  top: 0px;
  left: 0px;
}
.mblTabBarSlimTabBar .mblTabBarButtonHasIcon .mblTabBarButtonLabel {
  margin-left: 20px;
}
.mblTabBarSlimTabBar .mblTabBarButtonSelected {
  background-color: #0064c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
}
