/* if you link this style sheet, dijit/themes/dijit.css must be imported. */
/* dijit.Calendar */
.dijitCalendar {
  padding: 0;
  width: 320px;
  border: solid 1px #b5bcc7;
  -webkit-border-radius: 0;
  background-color: #eff1f3;
  text-align: center;
}
.dijitCalendar thead {
  border-color: inherit;
  vertical-align: middle;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
}
.dijitCalendarMonthLabel {
  padding: 0 4px;
  color: #131313;
  font-size: 18px;
  font-family: Helvetica;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.dijitCalendarMonthMenu {
  background-color: #eff1f3;
  -webkit-border-radius: 5px;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  text-shadow: none;
}
.dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: 0 3px 0 2px;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: 0 0 0 transparent;
}
.dijitArrowButtonInner {
  display: none;
}
.dijitCalendarMonthContainer th {
  border-right: 1px solid transparent;
}
.dijitCalendarIncrementControl {
  width: 0;
  height: 0;
  border: 6px solid transparent;
}
.dijitCalendarDecrease {
  border-right-color: #131313;
  border-left-width: 0;
}
.dijitCalendarIncrease {
  border-left-color: #131313;
  border-right-width: 0;
}
.dijitA11ySideArrow {
  display: none;
}
.dijitCalendarDayLabelTemplate {
  border-right: 1px solid transparent;
  font-size: 10px;
  color: #131313;
  text-align: center;
  text-shadow: none;
}
.dijitCalendarDateTemplate {
  border-bottom: 1px solid #b5bcc7;
  background-color: #ffffff;
  color: #131313;
  font-size: 18px;
  font-weight: normal;
  font-family: Helvetica;
  text-align: center;
  text-shadow: none;
  outline: none;
}
.dijitCalendarDateTemplate .dijitCalendarDateLabel {
  padding: 4px;
  display: block;
  border: none;
  background-color: #ffffff;
  text-decoration: none;
  -webkit-transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel, .dijitCalendarNextMonth .dijitCalendarDateLabel {
  background-color: #eff1f3;
  color: #202020;
}
.dijitCalendarHoveredDate .dijitCalendarDateLabel {
  border: none;
  color: #000000;
  font-weight: bold;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
  border: none;
  background-color: #5cb0ff;
  color: #000000;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
  border: none;
  background-color: #5cb0ff;
  -webkit-transition-duration: 0.1s;
}
.dijitCalendarYearLabel {
  margin: 0;
  padding: 2px 0 0 0;
  background-color: #5cb0ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(3.3333333333333335%, rgba(255, 255, 255, 0.1)), color-stop(0.5, rgba(255, 255, 255, 0.6)), color-stop(1, rgba(255, 255, 255, 0.3)));
}
.dijitCalendarSelectedYear {
  color: #000000;
  font-size: 18px;
  font-family: Helvetica;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.dijitCalendarNextYear, .dijitCalendarPreviousYear {
  padding: 1px 6px;
  color: #000000;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
