/* dojox.mobile.Accordion */
.mblAccordion {
  border: 1px outset #9CACC0;
}
.mblAccordionRoundRect {
  margin: 7px 9px 16px 9px;
  padding: 0;
  border: 1px solid #C6C7C6;
  border-radius: 8px;
}
.mblAccordionRoundRect .mblAccordionTitle:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.mblAccordionTitle:first-child {
  border-top: none;
}
.mblAccordionRoundRect .mblAccordionTitleLast, .mblAccordionRoundRect .mblAccordionPane:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mblAccordionTitle {
  position: relative;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 1px outset #9CACC0;
  background-color: white;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
}
.mblAccordionTitleAnchor {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #7B7D84;
  height: 100%;
}
.mblAccordionIconParent {
  float: left;
  margin: 6px 4px 0px 6px;
  line-height: normal;
}
.mblAccordionIconParent1 {
  display: block;
}
.mblAccordionIconParent2 {
  display: none;
}
.mblAccordionTitleSelected {
  border-bottom: 1px outset #9CACC0;
  background-color: #0869C6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
  color: white;
}
.mblAccordionTitleSelected .mblAccordionTitleAnchor {
  color: white;
}
.mblAccordionTitleSelected .mblAccordionIconParent1 {
  display: none;
}
.mblAccordionTitleSelected .mblAccordionIconParent2 {
  display: block;
}
