/* dojox.mobile.RoundRect */
.mblRoundRect {
  margin: 7px 9px 16px;
  padding: 8px;
  border: 1px solid #c6c7c6;
  border-radius: 6px;
  color: black;
  background-color: white;
}
.mblRoundRect.mblShadow {
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);
}
