@default-blue-button-color: white;
@default-blue-button-background-color: #366edf;
@default-blue-button-background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));

@default-button-color: black;
@default-button-background-color: #ced3ce;
@default-button-background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));

@default-button-selected-color: white;
@default-button-selected-background-color: #0869c6;
@default-button-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));

@default-selected-color: white;
@default-selected-background-color: #0869c6;
@default-selected-background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));

@heading-background-color: #424142;
@heading-background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4d52), to(#292c31));
@heading-border-top-color: #63696b;
@heading-border-bottom-color: #292c31;

.default-button-border-styles () {
	border-color: #9cacc0;
	border-radius: 6px;
}

// common.less
.mobile-body-styles () {
	background-color: #dedfde;
	font-family: Helvetica;
	font-size: 18px;
}

.mblView-styles () {
	color: black;
}

.mblColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	background-image: @default-blue-button-background-image;
}
.mblColorDefault-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color;
	background-image: @default-button-background-image;
}
.mblColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	background-image: @default-button-selected-background-image;
}

// Heading.less
.mblHeading-styles () {
	background-image: @heading-background-image;
	border-top: 1px solid @heading-border-top-color;
	border-bottom: 1px solid @heading-border-bottom-color;
	color: white;
}

// ToolBarButton.less
.mblToolBarButton-styles () {
}
.mblToolBarButtonArrow-styles () {
	border: 1px solid #9cacc0;
}
.mblToolBarButtonArrowInHeading-styles () {
}
.mblToolBarButtonBody-styles () {
	border: 1px outset #9cacc0;
	border-radius: 6px;
}
.mblToolBarButtonBodyInHeading-styles () {
	border: 1px inset #9cacc0;
}

// RoundRect.less
.mblRoundRect-styles () {
	border: 1px solid #c6c7c6;
	border-radius: 6px;
	color: black;
	background-color: white;
}
.mblRoundRectShadowBox-styles () {
	-webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);
}

// EdgeToEdgeCategory.less
.mblEdgeToEdgeCategory-styles () {
	height: 29px;
	border-top: 1px solid #313439;
	border-bottom: 1px solid #adaaad;
	background-color: white;
	color: #7b7d84;
	line-height: 29px;
}

// RoundRectCategory.less
.mblRoundRectCategory-styles () {
	color: black;
	text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

// RoundRectList.less
.mblRoundRectList-styles () {
	border: 1px solid #adaaad;
	border-radius: 6px;
	background-color: white;
}
.mblRoundRectList-FirstListItem-styles () {
	border-top-width: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.mblRoundRectList-LastListItem-styles () {
	border-bottom-width: 0px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

// EdgeToEdgeList.less
.mblEdgeToEdgeList-styles () {
	background-color: white;
}
.mblEdgeToEdgeList-LastListItem-styles () {
	border-bottom-width: 0;
}

// ListItem.less
@mbl-list-item-height: 59px;
//
.mblListItem-styles () {
	border-bottom: 1px solid #dedfde;
	font-size: 18px;
	color: black;
}
.mblListItemSelected-styles () {
	color: @default-selected-color;
	background-image: @default-selected-background-image;
}
.mblListItemTextBoxSelected-styles () {
	background-color: #0869c6;
}
.mblListItemChecked-styles () {
}
.mblListItemRightText-styles () {
	color: black;
	margin-top: 19px;
}
.mblListItemSubText-styles () {
	font-size: 14px;
	color: #7b7d48;
}

// Switch.less
.mblSwitchBg-styles () {
	border: rgba(176,176,176,0.5) 1px inset;
}
.mblSwitchBgLeft-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
}
.mblSwitchBgRight-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f3f7), to(#cec5d6), color-stop(0.5, #ced3ce));
}
.mblSwitchKnob-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#999999), color-stop(0.5, #bbbbbb));
	border: rgba(156,172,192,0.5) 1px outset;
}
.mblSwitchSquareBg-styles () {
	border-radius: 6px;
}
.mblSwitchSquareKnob-styles () {
	border-radius: 6px;
}

// Button.less
.mblButton-styles () {
	.default-button-border-styles;
	background-image: @default-button-background-image;
	color: black;
	font-size: 16px;
}
.mblButton-mblBlueButton-styles () {
	background-image: @default-blue-button-background-image;
	color: white;
}
.mblButton-mblBlueButtonSelected-styles () {
	background-image: @default-button-selected-background-image;
}
.mblButton-mblRedButton-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa9d58), to(#ee4115), color-stop(0.5, #ff4d25), color-stop(0.5, #ed4d15));
	color: white;
}
.mblButton-mblRedButtonSelected-styles () {
	background-image: @default-button-selected-background-image;
}
.mblButtonSelected-styles () {
	background-image: @default-button-selected-background-image;
	color: white;
}

// CheckBox.less
.mblCheckBox-styles () {
	border-color: #9cacc0;
	border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblCheckBoxSelected-styles () {
	background-image: @default-button-selected-background-image;
}
.mblCheckBoxChecked-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblCheckBoxChecked-after-styles () {
	border-color: #0851ad;
}
.mblCheckBoxChecked-mblCheckBoxSelected-styles () {
	background-image: @default-button-selected-background-image;
}
.mblCheckBoxChecked-mblCheckBoxSelected-after-styles () {
	border-color: white;
}

// ComboBox.less
.dijitPopup-styles () {
	-webkit-box-shadow: none;
	border-radius: 12px;
}
.mblComboBoxMenu-styles () {
	border-radius: 12px;
	background-color: black;
}
.mblComboBoxMenuItem-styles () {
	border-color: black;
	color: white;
}
.mblComboBoxMenuItemSelected-styles () {
	color: white;
	background-image: @default-selected-background-image;
}

// IconContainer.less
.mblIconItemSub-styles () {
	background-color: white;
	color: black;
}
.mblIconArea-styles () {
	margin-bottom: 5px;
	width: 88px;
}

// RadioButton.less
.mblRadioButton-styles () {
	border-color: #9cacc0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblRadioButtonChecked-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fbf7), to(#cecfd6), color-stop(0.5, #ced3ce));
}
.mblRadioButtonChecked-after-styles () {
	border-color: #0851ad;
}
.mblRadioButtonChecked-Selected-styles () {
	background-image: @default-button-selected-background-image;
}
.mblRadioButtonChecked-Selected-after-styles () {
	border-color: white;
}

// Slider.less
.mblSlider-styles () {
	border-color: #b0b0b0;
	border-radius: 6px;
	background-image: @default-button-background-image;
}
.mblSliderProgressBar-styles () {
	background-image: @default-button-selected-background-image;
	border-radius: 6px;
}
.mblSliderHandle-styles () {
	border-color: #9d9d9d;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#999999), color-stop(0.5, #bbbbbb));
}

// TabBar.less
.mblTabBar-styles () {
	text-shadow: none;
}

// barType="tabBar"
.mblTabBarTabBar-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#100c10));
}
.mblTabBarTabBar-compat () {
	background-color: #212421;
}
.mblTabBarTabBarButton-styles () {
}
.mblTabBarTabBarButtonIconArea-styles () {
}
.mblTabBarTabBarButtonLabel-styles () {
	color: #979797;
}
.mblTabBarTabBarButtonSelected-styles () {
	background-color: #404040;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#242424), color-stop(0.5, #353535));
	border-radius: 3px;
}
.mblTabBarTabBarButtonLabelSelected-styles () {
	color: white;
}

// barType="segmentedControl"
.mblTabBarSegmentedControl-styles () {
}
.mblTabBarSegmentedControlButton-styles () {
	border-style: solid;
	border-color: #7b7d84 #182018 black #393c39;
	color: @default-button-color;
	background-image: @default-button-background-image;
}
.mblTabBarSegmentedControlButton-FirstChild-styles () {
	border-left-width: 1px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.mblTabBarSegmentedControlButton-LastChild-styles () {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.mblTabBarSegmentedControlButtonSelected-styles () {
	color: @default-button-selected-color;
	background-image: @default-button-selected-background-image;
}

// barType="standardTab"
.mblTabBarStandardTab-styles () {
}
.mblTabBarStandardTabButton-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color; /* TODO: to compat */
	background-image: @default-button-background-image;
}
.mblTabBarStandardTabButtonIconArea-styles () {
}
.mblTabBarStandardTabButtonLabel-styles () {
}
.mblTabBarStandardTabButtonSelected-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	background-image: @default-button-selected-background-image;
}
.mblTabBarStandardTabButtonLabelSelected-styles () {
}

// barType="tallTab"
.mblTabBarTallTab-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#000000));
}
.mblTabBarTallTabButton-styles () {
	background-color: #212421;
	background-image: none;
}
.mblTabBarTallTabButton-FirstChild-styles () {
}
.mblTabBarTallTabButton-LastChild-styles () {
}
.mblTabBarTallTabButtonIconArea-styles () {
}
.mblTabBarTallTabButtonLabel-styles () {
}
.mblTabBarTallTabButtonSelected-styles () {
	background-color: #636363;
	background-image: none;
}
.mblTabBarTallTabButtonLabelSelected-styles () {
}

// TextArea.less
.mblTextArea-styles () {
	.default-button-border-styles;
}

// TextBox.less
.mblTextBox-styles () {
	.default-button-border-styles;
}

// ToggleButton.less
.mblToggleButton-styles () {
	.default-button-border-styles;
	background-image: @default-button-background-image;
	font-size: 16px;
	color: black;
}
.mblToggleButtonSelected-styles () {
	background-image: @default-button-selected-background-image;
	color: white;
}
.mblToggleButtonChecked-styles () {
	background-image: @default-button-background-image;
	color: black;
}
.mblToggleButtonChecked-after-styles () {
	border-color: #0851ad;
}
.mblToggleButtonCheckedSelected-styles () {
	background-image: @default-button-selected-background-image;
	color: white;
}
.mblToggleButtonCheckedSelected-after-styles () {
	border-color: white;
}

// Overlay.less
.mblOverlay-styles () {
	background-color: #000000;
	background-image: none;
}

// Tooltip.less
.mblTooltip-styles () {
	border-color: #adaaad;
	border-radius: 6px;
	background-color: #424142;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4d52), to(#292c31));
}
.mblTooltipBubble-styles () {
	background-color: #000000;
	background-image: none;
	color: #ffffff;
}
.mblTooltipInnerArrow-Bubble-Above-styles () {
	border-bottom-color: #000000;
}
.mblTooltipInnerArrow-Bubble-Below-styles () {
	border-top-color: #000000;
}
.mblTooltipInnerArrow-Bubble-After-styles () {
	border-left-color: #000000;
}
.mblTooltipInnerArrow-Bubble-Before-styles () {
	border-right-color: #000000;
}
.mblTooltipArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #adaaad;
}
.mblTooltipArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #adaaad;
}
.mblTooltipArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #adaaad;
}
.mblTooltipArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #adaaad;
}
.mblTooltipInnerArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #4a4d52;
}
.mblTooltipInnerArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #4a4d52;
}
.mblTooltipInnerArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #4a4d52;
}
.mblTooltipInnerArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #292c31;
}
.mblTooltip-Heading-styles () {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	background-image: none;
}
.mblTooltip-Heading-ToolbarButton-styles () {
}

// Accordion.less
.mblAccordion-styles () {
	border-color: #9cacc0;
}
.mblAccordionRoundRect-styles () {
	border-color: #c6c7c6;
}
.mblAccordionTitle-styles () {
	border-top: 1px outset #9cacc0;
	background-color: white;
}
.mblAccordionTitleSelected-styles () {
	border-bottom: 1px outset #9cacc0;
	background-color: #0869c6;
	background-image: @default-selected-background-image;
	color: white;
}
.mblAccordionTitleAnchor-styles () {
	color: #7b7d84;
}
.mblAccordionTitleAnchorSelected-styles () {
	color: white;
}

// SimpleDialog.less
.mblSimpleDialog-styles () {
	padding: 8px;
	width: 262px;
}
.mblSimpleDialogDecoration-styles () {
	background-color: #000000;
	border: none;
	border-radius: 6px;
	color: white;
}
.mblSimpleDialogTitle-styles () {
	margin: 7px 0 14px;
}
.mblSimpleDialogText-styles () {
	margin: 7px 0 14px;
}
.mblSimpleDialogInput-styles () {
	margin: 7px 0 14px;
	width: 100%;
}
.mblSimpleDialogButton-styles () {
	margin: 7px 0 0;
}
.mblSimpleDialogButton2l-styles () {
	margin: 7px 0 0;
}
.mblSimpleDialogButton2r-styles () {
	margin: 7px 0 0;
}

// IconMenu.less
.mblIconMenu-styles () {
	padding: 8px;
	background-color: #000000;
	border: none;
	border-radius: 6px;
}
.mblIconMenuItem-styles () {
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.mblIconMenuItemFirstRow-FirstColumn-styles () {
}
.mblIconMenuItemFirstRow-LastColumn-styles () {
}
.mblIconMenuItemLastRow-FirstColumn-styles () {
}
.mblIconMenuItemLastRow-LastColumn-styles () {
}
.mblIconMenuItemAnchor-styles () {
	font-size: 16px;
	color: white;
}
.mblIconMenuItemSel-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#088eef), to(#0851ad), color-stop(0.5, #0869c6));
	color: white;
}

// ArrowButton.less
.mblArrowButtonDisabled-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dedfde), to(#dedfde));
}
.mblArrowButtonHead-styles () {
	border-color: #9cacc0;
}

// dijit.Calendar
.dijitCalendar-styles () {
	border: none 0 transparent;
	background-color: white;
}
.dijitCalendar-thead-styles () {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#63696b), to(#182021));
}
.dijitCalendarMonthLabel-styles () {
	color: white;
	font-size: 18px;
}
.dijitCalendarMonthMenu-styles () {
	border: 1px solid black;
	border-radius: 6px;
	background-color: black;
}
.dijitCalendarMonthMenu-Label-styles () {
	color: black;
}
.dijitCalendarDecrease-styles () {
	border-right-color: white;
}
.dijitCalendarIncrease-styles () {
	border-left-color: white;
}
.dijitCalendarDayLabelTemplate-styles () {
	background-color: #6b7173;
	font-size: 14px;
	color: white;
}
.dijitCalendarDateTemplate-styles () {
	border-right: 1px solid lightGrey;
	background-color: white;
	color: black;
	outline: none;
}
.dijitCalendarDateTemplate-LastChild-styles () {
	border-right: none;
}
.dijitCalendarDateLabel-DateTemplate-styles () {
	border: none;
}
.dijitCalendarDateLabel-PrevMonth-styles () {
	background-color: #cecbce;
	color: #adaeb5;
}
.dijitCalendarDateLabel-Hovered-styles () {
	color: grey;
}
.dijitCalendarDateLabel-Selected-styles () {
	background-image: @default-selected-background-image;
	color: white;
	text-shadow: rgba(0,0,0,0.4) 0px 1px 0px;
}
.dijitCalendarDateLabel-Active-styles () {
	background-image: @default-selected-background-image;
}
.dijitCalendarYearLabel-styles () {
	padding: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#63696b), to(#182021));
}
.dijitCalendarSelectedYear-styles () {
	color: white;
	font-size: 16px;
}
.dijitCalendarNextYear-styles () {
	padding: 1px 6px 3px 6px;
	color: white;
	font-size: 12px;
}
